In [12]:
import pandas as pd
import numpy as np

Cargar dataset

In [13]:
url = "https://datahub.io/core/s-and-p-500/r/data.csv"
df = pd.read_csv(url)

Analisis inicial

In [14]:
print("Informacion general:\n", df.info(), "\n")
print("Primeras filas:\n", df.head(), "\n")
print("Tipos de columnas:\n", df.dtypes, "\n")
print("Valores nulos por columna:\n", df.isnull().sum(), "\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1833 entries, 0 to 1832
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1833 non-null   object
 1   SP500                 1833 non-null   float64
 2   Dividend              1833 non-null   float64
 3   Earnings              1833 non-null   float64
 4   Consumer Price Index  1833 non-null   float64
 5   Long Interest Rate    1833 non-null   float64
 6   Real Price            1833 non-null   float64
 7   Real Dividend         1833 non-null   float64
 8   Real Earnings         1833 non-null   float64
 9   PE10                  1833 non-null   float64
dtypes: float64(9), object(1)
memory usage: 143.3+ KB
Informacion general:
 None

Primeras filas:
          Date  SP500  Dividend  Earnings  Consumer Price Index  \
0  1871-01-01   4.44      0.26       0.4                 12.46
1  1871-02-01   4.50      0.26       0.4                 12.84
2  1871-03-01   4.61      0.26       0.4                 13.03
3  1871-04-01   4.74      0.26       0.4                 12.56
4  1871-05-01   4.86      0.26       0.4                 12.27

   Long Interest Rate  Real Price  Real Dividend  Real Earnings  PE10
0                5.32      109.05           6.39           9.82   0.0
1                5.32      107.25           6.20           9.53   0.0
2                5.33      108.27           6.11           9.39   0.0
3                5.33      115.54           6.34           9.75   0.0
4                5.33      121.22           6.48           9.98   0.0

Tipos de columnas:
 Date                     object
SP500                   float64
Dividend                float64
Earnings                float64
Consumer Price Index    float64
Long Interest Rate      float64
Real Price              float64
Real Dividend           float64
Real Earnings           float64
PE10                    float64
dtype: object

Valores nulos por columna:
 Date                    0
SP500                   0
Dividend                0
Earnings                0
Consumer Price Index    0
Long Interest Rate      0
Real Price              0
Real Dividend           0
Real Earnings           0
PE10                    0
dtype: int64

Limpieza basica

In [15]:
df = df.dropna()
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df = df.dropna(subset=['Date'])

 Nueva columna: rendimiento mensual (log-return del precio real)

In [16]:
df['Real_Price'] = df['Real Price']
df['Log_Return'] = (df['Real_Price'] / df['Real_Price'].shift(1)).apply(
    lambda x: np.nan if pd.isna(x) else np.log(x)
)

In [17]:
print("Resumen Log_Return:\n", df['Log_Return'].describe(), "\n")

Resumen Log_Return:
 count    1832.000000
mean        0.002032
std         0.040829
min        -0.307523
25%        -0.017061
50%         0.005587
75%         0.025416
max         0.414850
Name: Log_Return, dtype: float64

Guardar dataset limpio

In [18]:
df.to_csv("s-and-p-500_clean.csv", index=False)

Dataset limpio

In [19]:
df.head()

,Date,SP500,Dividend,Earnings,Consumer Price Index,Long Interest Rate,Real Price,Real Dividend,Real Earnings,PE10,Real_Price,Log_Return
0,1871-01-01,4.44,0.26,0.4,12.46,5.32,109.05,6.39,9.82,0.0,109.05,NaN
1,1871-02-01,4.50,0.26,0.4,12.84,5.32,107.25,6.20,9.53,0.0,107.25,-0.016644
2,1871-03-01,4.61,0.26,0.4,13.03,5.33,108.27,6.11,9.39,0.0,108.27,0.009466
3,1871-04-01,4.74,0.26,0.4,12.56,5.33,115.54,6.34,9.75,0.0,115.54,0.064989
4,1871-05-01,4.86,0.26,0.4,12.27,5.33,121.22,6.48,9.98,0.0,121.22,0.047990